@import "tailwindcss";

:root {
    --chatsy-white: #ffffff;
    --chatsy-dark: #171717;
    --chatsy-light: #fafafa;
    --chatsy-orange-dark: #dd7a29;
    --chatsy-orange-light: #ff8904;


    --chatsy-dark-secondary: #1a1a1a;
    --chatsy-light-secondary: #fdfdfd;

    --chatsy-light-tertiary: #efefef;
    --chatsy-dark-tertiary: #282828;


    --chatsy-navbar-dark: #171717;
    --chatsy-navbar-light: #e4e4e4;
    
    --chatsy-border-light: #00000023;
    --chatsy-border-dark: #393939;

    --chatsy-black-icon-invert: 0;
    --chatsy-white-icon-invert: 1;
    --chatsy-invert-1: 1;
    --chatsy-invert-0: 0;


    --chatsy-bg: var(--chatsy-light);
    --chatsy-secondary-bg: var(--chatsy-light-secondary);
    --chatsy-tertiary-bg: var(--chatsy-light-tertiary);
    --chatsy-text-main: var(--chatsy-dark);
    --chatsy-action-bg: var(--chatsy-dark);
    --chatsy-action-text: var(--chatsy-light);
    --chatsy-navbar: var(--chatsy-navbar-light);
    --chatsy-navbar-border: var(--chatsy-border-light);
    --chatsy-orange: var(--chatsy-orange-light);
}

html.dark {
    --chatsy-bg: var(--chatsy-dark);
    --chatsy-secondary-bg: var(--chatsy-dark-secondary);
    --chatsy-tertiary-bg: var(--chatsy-dark-tertiary);
    --chatsy-text-main: var(--color-white);
    --chatsy-action-bg: var(--chatsy-orange-dark);
    --chatsy-action-text: var(--chatsy-light);
    --chatsy-navbar: var(--chatsy-navbar-dark);
    --chatsy-navbar-border: var(--chatsy-border-dark);
    --chatsy-orange: var(--chatsy-orange-dark);
    --chatsy-black-icon-invert: 1;
    --chatsy-white-icon-invert: 0;
}

@theme inline {
    --color-chatsy-dark: var(--chatsy-dark);
    --color-chatsy-light: var(--chatsy-light);
    --color-chatsy-secondary-dark: var(--chatsy-dark-secondary);
    --color-chatsy-secondary-light: var(--chatsy-light-secondary);
    --color-chatsy-tertiary-light: var(--chatsy-light-tertiary);
    --color-chatsy-orange-dark: var(--color-chatsy-orange-dark);
    --color-chatsy-orange-light: var(--color-chatsy-orange-light);
    
    --color-chatsy-bg: var(--chatsy-bg);
    --color-chatsy-secondary-bg: var(--chatsy-secondary-bg);
    --color-chatsy-tertiary-bg: var(--chatsy-tertiary-bg);
    --color-chatsy-text-main: var(--chatsy-text-main);
    --color-chatsy-text-light: var(--chatsy-light);
    --color-chatsy-text-dark: var(--chatsy-dark);
    --color-chatsy-action-bg: var(--chatsy-action-bg);
    --color-chatsy-action-text: var(--chatsy-action-text);
    --color-chatsy-navbar: var(--chatsy-navbar);
    --color-chatsy-navbar-border: var(--chatsy-navbar-border);
    --color-chatsy-orange: var(--chatsy-orange);

    --text-chatsy-text-xs: 0.75rem;
    --text-chatsy-text-2xs: 0.6rem;
    --chatsy-black-icon-invert: var(--chatsy-black-icon-invert);
    --chatsy-white-icon-invert: var(--chatsy-white-icon-invert);
    --chatsy-invert-1: var(--chatsy-invert-1);
    --chatsy-invert-0: var(--chatsy-invert-0);

    --animate-beat: beat 1s infinite;
}


@keyframes beat {
    0%, 100% {
        width: 10%;
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        width: 30%;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}

#__next {
    height: 100vh;
}

.to-message-container::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 0.5rem;
    border: 1rem solid transparent;
    border-left: 0.25rem transparent;
    border-top: 0.5rem solid var(--chatsy-orange);
    left: calc(100% - 0.25rem);
    z-index: 1000;
    top: 0;
}

.from-message-container::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 0.5rem;
    border: 1rem solid transparent;
    border-right: 0.25rem transparent;
    border-top: 0.5rem solid var(--chatsy-light);
    right: calc(100% - 0.25rem);
    z-index: 1000;
    top: 0;
}

*::-webkit-scrollbar {
    width: 3px;
    padding: 0 1px;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
    width: 4px;
}